/*===============================================
Univeral styles
===============================================*/

* {
 font-size: 16px;
 box-sizing: border-box;
}
/*=====================================================
Element styles
==================================================*/
header {
  background-color: hsla(224, 100%, 16%, 1.0);
  border-radius: 10px;

  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
}

li {
  list-style: none;
}
/* ==========================================================
class styles
=============================================================*/
.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-decoration: none;

}
.header-buttons li{
background-color: rgb(3, 189, 3);
color: white;
padding: 5px;
margin: 10px 15px 10px 5px;
list-style: none;
border-radius: 7px;
height: 3rem;
width: 4rem;
}

.Company-name {
  color: white;
  margin: 0 auto;
}



/*============================================
Id styles
=============================================*/

/*============================================
player profile styles
=============================================*/

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(168, 168, 168);
  padding: 15px;
  margin-bottom: 45px;
  margin-top: 15px;

}

.name {
  margin-right: 1rem;
}

.profile-name {
  font-family: 'Poppins';
  font-size: 2.5rem;
}

.age {
  margin-left: 3rem;
}

.profile-age {
  font-family: 'Poppins';
  font-size: 2.5rem;
  margin-left: 1rem;
}

.style-online {
  font-size: 2.5rem;
  font-family: 'Bebas Neue';
  padding: 5px;
  color: white;
  background-color: rgb(52, 192, 64);
  border: 1px solid rgb(37, 141, 46);
  border-radius: 7px;
  margin-left: auto;
}

.style-offline {
  font-size: 2.5rem;
  font-family: 'Bebas Neue';
  padding: 5px;
  color: white;
  background-color: rgb(240, 81, 60);
  border: 1px solid rgb(213, 39, 16);
  border-radius: 7px;
  margin-left: auto;
}
